/**
 * Configuration file for apeman projects.
 * @see https://github.com/apeman-labo/apeman
 */

"use strict";

module.exports = {
    /** Current working directory path */
    get $cwd() {
        return __dirname;
    },
    /** Package data. */
    get $pkg() {
        return require('../../package.json');
    },
    /**
     * apeman ui configurations.
     * @see https://github.com/apeman-labo/apeman-ui
     */
    get $ui() {
        return {}
    },
    /**
     * apeman tmpl configurations.
     * @see https://github.com/apeman-labo/apeman-tmpl
     */
    get $tmpls() {
        return {}
    },
    /**
     * apeman task configurations.
     * @see https://github.com/apeman-labo/apeman-task
     */
    get $tasks() {
        var mkdir = require('apeman-task-mkdir'),
            concat = require('apeman-task-concat');
        return {
            'build': [
                'struct'
            ],
            'struct': [
                'struct:mkdir'
            ],
            'struct:mkdir': mkdir([
                'src',
                'dist',
                'test'
            ])
        }
    }
};


if (!module.parent) {
    // Execute this file as apeman bin.
    require('apeman').cli(process.argv);
}
