/**
 * Configuration file for apeman projects.
 * @see https://github.com/apeman-labo/apeman
 */

"use strict";

module.exports = {
    /** Current working directory path */
    get $cwd() {
        return __dirname;
    },
    /** Parent Apemanfile. */
    get $parent() {
        return require('../../Apemanfile.js');
    },
    /** Prototype apps */
    get $proto() {
        return [
            require('apeman-proto-abstract'),
            require('apeman-proto-basic'),
            require('apeman-proto-sub')
        ]
    },
    /**
     * apeman app configurations.
     * @see https://github.com/apeman-labo/apeman-app
     */
    get $apps() {
        var route = require('apeman-app-route'),
            header = require('apeman-app-header'),
            lang = require('apeman-app-lang'),
            json = require('apeman-app-json'),
            delay = require('apeman-app-delay'),
            log = require('apeman-app-log');
        return {
            '/': [
                header(),
                lang(),
                json(),
                delay(0),
                log('log/access-log', {}),
                route({})
            ]
        }
    },
    /**
     * apeman tmpl configurations.
     * @see https://github.com/apeman-labo/apeman-tmpl
     */
    get $tmpls() {
        return {}
    },
    /**
     * apeman task configurations.
     * @see https://github.com/apeman-labo/apeman-task
     */
    get $tasks() {
        var mkdir = require('apeman-task-mkdir'),
            symlink = require('apeman-task-symlink');
        return {
            'build': [
                'struct'
            ],
            'struct': [
                'fs:mkdir',
                'fs:symlink'
            ],
            'fs:mkdir': mkdir([
                'routes',
                'schema',
                'test'
            ]),
            'fs:symlink': [
                symlink('../../var/log/api-log', 'log')
            ]
        }
    }
};


if (!module.parent) {
    // Execute this file as apeman bin.
    require('apeman').cli(process.argv);
}
