/**
 * Configuration file for apeman projects.
 * @see https://github.com/apeman-labo/apeman
 */

"use strict";

module.exports = {
    /** Current working directory path */
    get $cwd() {
        return __dirname;
    },
    /** Parent Apemanfile. */
    get $parent() {
        return require('../../Apemanfile.js');
    },
    /**
     * apeman app configurations.
     * @see https://github.com/apeman-labo/apeman-app
     */
    get $apps() {
        return {}
    },
    /**
     * apeman tmpl configurations.
     * @see https://github.com/apeman-labo/apeman-tmpl
     */
    get $tmpls() {
        return {}
    },
    /**
     * apeman task configurations.
     * @see https://github.com/apeman-labo/apeman-task
     */
    get $tasks() {
        var mkdir = require('apeman-task-mkdir');
        return {
            'build': [
                'struct'
            ],
            'struct': [
                'struct:mkdir'
            ],
            'struct:mkdir': mkdir([
                'routes',
                'schema',
                'test'
            ])
        }
    }
};


if (!module.parent) {
    // Execute this file as apeman bin.
    require('apeman').cli(process.argv);
}
