/**
 * Configuration file for apeman projects.
 * @see https://github.com/apeman-labo/apeman
 */

"use strict";

module.exports = {
    /** Current working directory path */
    get $cwd() {
        return __dirname;
    },
    /** Parent Apemanfile. */
    get $parent() {
        return require('../Apemanfile.js');
    },
    /** Prototype apps */
    get $proto() {
        return [
            require('apeman-proto-abstract'),
            require('apeman-proto-basic'),
            require('apeman-proto-sub')
        ]
    },
    /**
     * apeman tmpl configurations.
     * @see https://github.com/apeman-labo/apeman-tmpl
     */
    get $tmpls() {
        var db = require('apeman-tmpl-db');
        return {
            'index.js': db({type: 'indexJs'}),
            'models/user.json': db({type: 'userJson'})
        }
    },
    /**
     * apeman task configurations.
     * @see https://github.com/apeman-labo/apeman-task
     */
    get $tasks() {
        var mkdir = require('apeman-task-mkdir'),
            coz = require('apeman-task-coz');

        return {
            'build': [
                'struct',
                'render'
            ],
            'struct': [
                'struct:mkdir'
            ],
            'struct:mkdir': mkdir([
                'models'
            ])
        }
    }
};


if (!module.parent) {
    // Execute this file as apeman bin.
    require('apeman').cli(process.argv);
}
