/**
 * Configuration file for apeman projects.
 * @see https://github.com/apeman-labo/apeman
 */

"use strict";

module.exports = {
    /** Current working directory path */
    get $cwd() {
        return __dirname;
    },
    /** Package data. */
    get $pkg() {
        return require('./package.json');
    },
    /** Prototype apps */
    get $proto() {
        return [
            require('apeman-proto-abstract'),
            require('apeman-proto-basic'),
            require('apeman-proto-git')
        ];
    },
    /**
     * apeman tmpl configurations.
     * @see https://github.com/apeman-labo/apeman-tmpl
     */
    get $tmpls() {
        var pkg = require('./package.json');
        var ci = require('apeman-tmpl-ci'),
            dot = require('apeman-tmpl-dot'),
            readme = require('apeman-tmpl-readme'),
            locale = require('apeman-tmpl-locale'),
            env = require('apeman-tmpl-env');
        return {
            'ci/build.js': ci({cmd: 'task', args: 'build'}),
            'ci/misc/build_api_app.js': ci({cmd: 'task', args: 'app:api:build'}),
            'ci/misc/build_asset.js': ci({cmd: 'task', args: 'asset:build'}),
            'ci/misc/build_ui_app.js': ci({cmd: 'task', args: 'app:ui:build'}),
            'ci/misc/build_browser_lib.js': ci({cmd: 'task', args: 'lib:browser:build'}),
            'ci/misc/install_bower.js': ci({cmd: 'task', args: 'install:bower'}),
            'ci/misc/build_node_lib.js': ci({cmd: 'task', args: 'lib:node:build'}),
            'ci/coverage.js': ci({cmd: 'task', args: 'coverage'}),
            'ci/report.js': ci({cmd: 'task', args: 'report'}),
            'ci/release.js': ci({cmd: 'task', args: 'release'}),
            'doc/readme/01 - Requirements.md.hbs': readme({type: 'requirementsSection'}),
            'doc/readme/02 - Setup.md.hbs': readme({type: 'setupSection'}),
            'doc/links.json': '{}',
            'doc/overview.md': '',
            'env/index.js': env({type: 'indexJs', name: pkg.name}),
            'env/database.json': env({type: 'databaseJson', name: pkg.name}),
            'env/port.json': env({type: 'portJson'}),
            'env/domain.json': env({type: 'domainJson'}),
            'locale/en.json': locale({type: 'enJson'}),
            'locale/ja.json': locale({type: 'jaJson'}),
            'locale/index.js': locale({type: 'indexJs'}),
            '.README.md.bud': dot({type: 'readmeMdBud'}),
            '.LICENSE.md.bud': dot({type: 'licenseBud'}),
            '.npmignore': dot({type: 'npmignore'}),
            '.codeclimate.yml': dot({type: 'codeclimateYml'}),
            '.travis.yml': dot({type: 'travisYml'})
        }
    },
    /**
     * apeman task configurations.
     * @see https://github.com/apeman-labo/apeman-task
     */
    get $tasks() {
        var chmod = require('apeman-task-chmod'),
            mkdir = require('apeman-task-mkdir'),
            task = require('apeman-task-task'),
            tmpl = require('apeman-task-tmpl'),
            coz = require('apeman-task-coz'),
            mocha = require('apeman-task-mocha'),
            coverage = require('apeman-task-coverage'),
            sure = require('apeman-task-sure'),
            execcli = require('apeman-task-execcli'),
            symlink = require('apeman-task-symlink'),
            versionup = require('apeman-task-versionup'),
            publish = require('apeman-task-publish'),
            bower = require('apeman-task-bower'),
            watch = require('apeman-task-watch'),
            codeclimate = require('apeman-task-codeclimate');


        function _task(apemanfile, taskName) {
            return task(taskName, {
                configuration: require.resolve(apemanfile)
            });
        }

        function _watch(apemanfile, watchName) {
            return watch(watchName, {
                configuration: require.resolve(apemanfile)
            });
        }

        var _apiAppTask = _task.bind(_task, './app/api/Apemanfile'),
            _uiAppTask = _task.bind(_task, './app/ui/Apemanfile'),
            _assetTask = _task.bind(_task, './asset/Apemanfile'),
            _dbTask = _task.bind(_task, './db/Apemanfile'),
            _browserLibTask = _task.bind(_task, './lib/browser-lib/Apemanfile'),
            _nodeLibTask = _task.bind(_task, './lib/node-lib/Apemanfile');

        var _uiAppWatch = _watch.bind(_watch, './app/ui/Apemanfile');

        return {
            'app:api:build': _apiAppTask('build'),
            'app:ui:build': _uiAppTask('build'),
            'asset:build': _assetTask('build'),
            'db:build': _dbTask('build'),
            'lib:browser:build': _browserLibTask('build'),
            'lib:node:build': _nodeLibTask('build'),
            'build': [
                'struct',
                'render',
                'asset:build',
                'app:api:build',
                'app:ui:build',
                'db:build',
                'lib:browser:build',
                'lib:node:build'
            ],
            'coverage': [
                'coverage:unit'
            ],
            'coverage:unit': coverage(
                './ci/test.js'
            ),
            'install': [
                'install:npm',
                'install:bower'
            ],
            'install:bower': bower([
                'font-awesome',
                'ionicons'
            ]),
            'render': [
                'render:coz',
                'render:tmpl'
            ],
            'render:coz': coz([
                '.*.bud',
                'test/**/.*.bud'
            ]),
            'render:tmpl': tmpl({}),
            'report': codeclimate('coverage/lcov.info'),
            'setup': [
                'install',
                'build'
            ],
            'struct': [
                'struct:chmod',
                'struct:mkdir',
                'struct:symlink'
            ],
            'struct:chmod': chmod({
                'bin/*.js': '755',
                'ci/*.js': '755',
                'ci/misc/*.js': '755'
            }),
            'struct:mkdir': mkdir([
                'app',
                'app/api',
                'app/ui',
                'app/admin-api',
                'app/admin-ui',
                'asset',
                'bin',
                'ci',
                'ci/misc',
                'db',
                'doc',
                'doc/readme',
                'env',
                'lib',
                'lib/browser-lib',
                'lib/node-lib',
                'locale',
                'tmp',
                'var',
                'var/log',
                'var/log/api-log',
                'var/log/admin-api-log',
                'var/log/ui-log',
                'var/log/admin-ui-log'
            ]),
            'struct:symlink': [],
            'test': [],
            'release': [
                sure({msg: 'Are you sure to release? [y/N]'}),
                'build',
                'test',
                'git:tag',
                publish({}),
                versionup({}),
                'git:push'
            ],
            'watch': [
                'watch:ui-app'
            ],
            'watch:ui-app': _uiAppWatch('all')
        }
    }
};


if (!module.parent) {
    // Execute this file as apeman bin.
    require('apeman').cli(process.argv);
}
