{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "Apemanfile.js",
  "scripts": {
    "test": "./ci/test.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "apeman"
  ],
  "author": {
    "name": "~~~~author_name~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/~~~~github_repository~~~~/issues"
  },
  "homepage": "https://github.com/~~~~github_repository~~~~#readme",
  "dependencies": {
    "apeman": "^4.3.1",
    "apeman-app-delay": "^1.0.0",
    "apeman-app-form": "^1.0.1",
    "apeman-app-header": "^1.0.0",
    "apeman-app-html": "^1.0.1",
    "apeman-app-json": "^1.0.2",
    "apeman-app-lang": "^1.0.0",
    "apeman-app-log": "^1.0.0",
    "apeman-app-query": "^1.0.0",
    "apeman-app-route": "^1.1.0",
    "apeman-app-session": "^1.0.0",
    "apeman-app-static": "^1.0.2",
    "apeman-proto-abstract": "^1.0.5",
    "apeman-proto-basic": "^1.0.11",
    "apeman-proto-codeclimate": "^1.0.1",
    "apeman-proto-coverage": "^1.0.1",
    "apeman-proto-db": "^1.0.1",
    "apeman-proto-env": "^1.0.2",
    "apeman-proto-git": "^1.0.3",
    "apeman-proto-locale": "^1.0.0",
    "apeman-proto-mocha": "^1.0.2",
    "apeman-proto-npm": "^1.0.2",
    "apeman-proto-scss": "^1.0.0",
    "apeman-proto-sub": "^1.0.1",
    "apeman-proto-sure": "^1.0.0",
    "apeman-proto-travis": "^1.0.0",
    "apeman-tmpl-db": "^1.0.3",
    "apemandb": "^1.1.4",
    "apemanenv": "^1.0.3",
    "apemanlocale": "^1.0.0",
    "mysql": "^2.9.0"
  },
  "devDependencies": {
    "apeman-bud-license": "^1.0.1",
    "apeman-bud-readme": "^1.0.0",
    "apeman-bud-test": "^1.0.2",
    "apeman-task": "^3.0.15",
    "apeman-task-bower": "^2.0.1",
    "apeman-task-browserify": "^1.0.0",
    "apeman-task-chmod": "^1.0.1",
    "apeman-task-codeclimate": "^1.0.0",
    "apeman-task-concat": "^1.0.1",
    "apeman-task-copy": "^1.0.3",
    "apeman-task-coz": "^1.0.2",
    "apeman-task-execcli": "^1.0.1",
    "apeman-task-install": "^1.0.2",
    "apeman-task-jsx": "^1.0.1",
    "apeman-task-mkdir": "^1.0.2",
    "apeman-task-nodeunit": "^1.0.4",
    "apeman-task-symlink": "^1.0.1",
    "apeman-task-task": "^1.0.2",
    "apeman-task-tmpl": "^1.0.2",
    "apeman-task-watch": "^1.0.3",
    "apeman-tmpl": "^1.0.8",
    "apeman-tmpl-ci": "^1.0.4",
    "apeman-tmpl-db": "^1.0.3",
    "apeman-tmpl-dot": "^1.0.8",
    "apeman-tmpl-readme": "^1.0.1",
    "apeman-watch": "^2.0.5",
    "sqlite3": "^3.1.0"
  }
}