{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "Apemanfile.js",
  "scripts": {
    "test": "./ci/test.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "apeman"
  ],
  "author": {
    "name": "~~~~author_name~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/~~~~github_repository~~~~/issues"
  },
  "homepage": "https://github.com/~~~~github_repository~~~~#readme",
  "dependencies": {
    "apeman-app-log": "^1.0.0",
    "apeman-app-route": "^1.0.1",
    "apeman-app-static": "^1.0.2",
    "stringcase": "^1.2.5"
  },
  "devDependencies": {
    "apeman-bud-license": "^1.0.1",
    "apeman-bud-readme": "^1.0.0",
    "apeman-bud-test": "^1.0.1",
    "apeman-task": "^3.0.9",
    "apeman-task-bower": "^2.0.1",
    "apeman-task-browserify": "^1.0.0",
    "apeman-task-chmod": "^1.0.1",
    "apeman-task-codeclimate": "^1.0.0",
    "apeman-task-concat": "^1.0.1",
    "apeman-task-copy": "^1.0.3",
    "apeman-task-coverage": "^1.0.4",
    "apeman-task-coz": "^1.0.2",
    "apeman-task-execcli": "^1.0.1",
    "apeman-task-install": "^1.0.2",
    "apeman-task-jsx": "^1.0.1",
    "apeman-task-mkdir": "^1.0.2",
    "apeman-task-mocha": "^1.0.4",
    "apeman-task-nodeunit": "^1.0.4",
    "apeman-task-publish": "^1.0.2",
    "apeman-task-push": "^1.0.1",
    "apeman-task-scss": "^1.0.3",
    "apeman-task-sure": "^1.0.2",
    "apeman-task-symlink": "^1.0.1",
    "apeman-task-taggit": "^1.0.1",
    "apeman-task-task": "^1.0.2",
    "apeman-task-tmpl": "^1.0.2",
    "apeman-task-update": "^1.0.1",
    "apeman-task-versionup": "^1.0.1",
    "apeman-task-watch": "^1.0.3",
    "apeman-tmpl": "^1.0.4",
    "apeman-tmpl-ci": "^1.0.2",
    "apeman-tmpl-dot": "^1.0.7",
    "apeman-tmpl-readme": "^1.0.1",
    "apeman-tmpl-scss": "^1.0.6",
    "apeman-watch": "^2.0.4"
  }
}