{
  "name": "~~~~package_name~~~~",
  "version": "1.0.0",
  "description": "~~~~package_description~~~~",
  "main": "Apemanfile.js",
  "scripts": {
    "test": "./ci/test.js"
  },
  "repository": "~~~~github_repository~~~~",
  "keywords": [
    "apeman"
  ],
  "author": {
    "name": "~~~~author_name~~~~"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/~~~~github_repository~~~~/issues"
  },
  "homepage": "https://github.com/~~~~github_repository~~~~#readme",
  "dependencies": {
    "apeman": "*",
    "apeman-app-delay": "*",
    "apeman-app-header": "*",
    "apeman-app-html": "*",
    "apeman-app-json": "*",
    "apeman-app-lang": "*",
    "apeman-app-log": "*",
    "apeman-app-route": "*",
    "apeman-app-static": "*",
    "apeman-proto-abstract": "*",
    "apeman-proto-basic": "*",
    "apeman-proto-coverage": "*",
    "apeman-proto-git": "*",
    "apeman-proto-mocha": "*",
    "apeman-proto-npm": "*",
    "apeman-proto-sub": "*",
    "apeman-proto-sure": "^1.0.0",
    "apeman-tmpl-db": "*",
    "apemandb": "*",
    "apemanenv": "*",
    "apemanlocale": "*"
  },
  "devDependencies": {
    "apeman-bud-license": "*",
    "apeman-bud-readme": "*",
    "apeman-bud-test": "*",
    "apeman-task": "*",
    "apeman-task-bower": "*",
    "apeman-task-browserify": "*",
    "apeman-task-chmod": "*",
    "apeman-task-codeclimate": "*",
    "apeman-task-concat": "*",
    "apeman-task-copy": "*",
    "apeman-task-coz": "*",
    "apeman-task-execcli": "*",
    "apeman-task-install": "*",
    "apeman-task-jsx": "*",
    "apeman-task-mkdir": "*",
    "apeman-task-nodeunit": "*",
    "apeman-task-scss": "*",
    "apeman-task-symlink": "*",
    "apeman-task-task": "*",
    "apeman-task-tmpl": "*",
    "apeman-task-watch": "*",
    "apeman-tmpl": "*",
    "apeman-tmpl-ci": "*",
    "apeman-tmpl-db": "*",
    "apeman-tmpl-dot": "*",
    "apeman-tmpl-env": "*",
    "apeman-tmpl-locale": "*",
    "apeman-tmpl-readme": "*",
    "apeman-tmpl-scss": "*",
    "apeman-watch": "*"
  }
}